doctype html
html
    head
        title
            | Nick + Maria    
        link(rel='stylesheet', href='/styles/main.css')
        link(rel='img', href='/styles/main.css')
        meta(name="viewport" content="width=320")

    body
        #container
            img.bird(src="styles/img/bird-one.png")
            img.title(src="styles/img/title.png")
            img.bird(src="styles/img/bird-two.png")
            
            form(id="mgform")
                img.namelabel(src="styles/img/name-label.png")
                input(type="text" id="name")
                img.attendinglabel(src="styles/img/attending-label.png")
                br
                input(type="radio" id="yeah") 
                img.yeahlabel(src="styles/img/yeah-label.png")
                input(type="radio" id="nah") 
                img.nahlabel(src="styles/img/nah-label.png")
                br
                br
                img.songlabel(src="styles/img/song-label.png")
                img.requestlabel(src="styles/img/request-label.png")
                
                input(type="text" id="music")
                img.commentslabel(src="styles/img/comments-label.png")
                textarea(id="comments")
                button(value="bulk" onclick="mgform.hid=this.value") Submit
        
        script(type="text/javascript" src="main.js")
