doctype html
html
    head
        title
            | Nick + Maria    
        link(rel='stylesheet', href='/styles/main.css')
        link(rel='img', href='/styles/main.css')
        meta(name="viewport" content="width=320")

    body
        #container
            img.bird(src="styles/img/bird-one.png")
            img.title(src="styles/img/title.png")
            img.title-s(src="styles/img/the-s.png")
            img.bird(src="styles/img/bird-two.png")
            .weddingbox
                img.weddinglabel(src="styles/img/wedding-label.png")
                
            .messagebox 
            
            form(id="mgform" method="post" action="submit")
                label Your Name(s):
                input(type="text" id="name" name="name")
                label Attending:
                br
                input(type="radio" id="yeah" name="attending" value="yeah" checked=true) 
                label.padding-left Yeah 
                input(type="radio" id="nah" name="attending" value="nah") 
                label.padding-left Nah
                br
                br
                label Song Request:
                input(type="text" id="music" name="music")
                label Comments:
                label.sub (dietary requirements, apoogies)
                textarea(id="comments" rows="3" name="comments")
                label.bottom-message Please note that while our reception is for adults only, children are welcome to attend the ceremony.
                button.submitbutton(type="submit") 
                    img.submitlabel(src="styles/img/submit-label.png")
                
            