doctype html
html
    head
        title
            | Nick + Maria    
        link(rel='stylesheet', href='/styles/main.css')
    body
        #container
            h3 Nick + Maria
            form(id="mgform")
                label(for="mail") Email:
                input(type="text" id="mail" )
                label(for="name") Name:
                input(type="text" id="name")
                label Attending:
                br
                input(type="radio" id="yeah") 
                label(for="yeah") Yeah
                input(type="radio" id="nah") 
                label(for="yeah") Nah
                br
                label(for="name") Dance Floor Music Requests:
                input(type="text" id="music")
                label(for="name") Comments:
                textarea(id="comments")
                button(value="bulk" onclick="mgform.hid=this.value") Submit
        
        script(type="text/javascript" src="main.js")
