doctype html
html
    head
        title
            | Nick + Maria    
        link(rel='stylesheet', href='/styles/main.css')
        link(rel='img', href='/styles/main.css')
        meta(name="viewport" content="width=320")

    body
        #container
            img.bird(src="styles/img/bird-one.png")
            img.title(src="styles/img/title.png")
            img.title-s(src="styles/img/the-s.png")
            img.bird(src="styles/img/bird-two.png")
            .weddingbox
                img.weddinglabel(src="styles/img/wedding-label.png")
                
            .messagebox 
            
            form(id="mgform" method="post" action="submit")
                img.namelabel(src="styles/img/name-label.png")
                input(type="text" id="name" name="name")
                img.attendinglabel(src="styles/img/attending-label.png")
                br
                input(type="radio" id="yeah" name="attending" value="yeah" checked=true) 
                img.yeahlabel(src="styles/img/yeah-label.png")
                input(type="radio" id="nah" name="attending" value="nah") 
                img.nahlabel(src="styles/img/nah-label.png")
                br
                br
                img.songlabel(src="styles/img/song-label.png")
                img.requestlabel(src="styles/img/request-label.png")
                input(type="text" id="music" name="music")
                img.commentslabel(src="styles/img/comments-label.png")
                textarea(id="comments" rows="3" name="comments")
                
                button.submitbutton(type="submit") 
                    img.submitlabel(src="styles/img/submit-label.png")
                
            