doctype html
html
    head
        title 
            | Nick + Maria
       
        link(rel='stylesheet', href='/styles/main.css')
        meta(name="viewport" content="width=320") 
                        

    body
        #submitted
            p thanks yall 