doctype html
html
    head
        title 
            | Nick + Maria
       
        link(rel='stylesheet', href='/styles/main.css')
        meta(name="viewport" content="width=320") 
                        

    body
        #submitted
            p 
                | Thanks for the RSVP
                br
                | If you want to contact us for more information: 
                br
                | Nick: 0210383898
                br
                | Maria: 0212119597
                