body
{
}

h3
{
    text-align: center;
}

#container .submitbutton
{
    
}

#container
{
    width: 300px;
    margin: auto;
}

#container .title
{
    display: inline-block;
    width: 180px;
}

#container .title-s {
  width: 30px;
  padding-bottom: 9px;
  padding-right: 10px;
}

#container .bird
{
    display: inline-block;
    padding-bottom: 21px;
    width: 40px;
}

#container .weddingbox
{
    text-align: center;
}

#container .weddingbox .weddinglabel
{
    width: 210px;
}

#container .namelabel
{
    width: 65px; 
    padding-top: 20px;
}


#container .songlabel
{
    width: 40px;
}

#container .requestlabel
{
    width: 56px;
    margin-bottom: -2px;
}

#container .commentslabel
{
    width: 94px;
}

#container .attendinglabel
{
    width: 94px;
}

#container .yeahlabel
{
    width: 50px;
    padding: 0 15px 0 10px;
    margin-bottom: -11px;
}

#container .nahlabel
{
    width: 40px;
    padding: 0 5px 0 10px;
    margin-bottom: -6px;

}

#container input 
{
    margin: 5px 0 15px;
}

#container input[type=radio]
{
    margin: 5px 0;
}

#container textarea 
{
    margin: 5px 0 15px;
}

#container input[type=text]
{
    width: 280px;
    padding: 8px;
    display: block;
    border-radius: 3px;
    border: 1px solid #ccc;
}

#container button, #container input[type=submit]
{
    margin: 10px 0;
    width: 100%;
    display: block;
    background: #F8E55C;
    border: none;
    padding: 10px;
    border-radius: 3px;
    font-size: 15px;
    font-weight: bold;
}

#container textarea
{
    display: block;
    width: 98%;
    max-width: 98%;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.pinks {
    color: #F0B7BC;
}

.yellows {
    color: #F8E55C;
}

.blues {
    color: #9EBCD0;
}

.whites {
    color: #F0EEE9; /* #E4E2DA #E0DDD3 */
}


#submitted
{
    text-align: center;
}